<div class="sideMenuPart" id="webviewko-nav-submenu" pageId="webviewko::////PointingToDeclaration//1481200572">
  <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;webviewko-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="index.html"><span><span>webviewko</span></span></a></div>
  <div class="sideMenuPart" id="webviewko-nav-submenu-0" pageId="webviewko::com.github.winterreisender.webviewko////PointingToDeclaration//1481200572">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;webviewko-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="webviewko/com.github.winterreisender.webviewko/index.html"><span>com.</span><wbr></wbr><span>github.</span><wbr></wbr><span>winterreisender.</span><wbr></wbr><span>webviewko</span></a></div>
    <div class="sideMenuPart" id="webviewko-nav-submenu-0-0" pageId="webviewko::com.github.winterreisender.webviewko//bindEx/com.github.winterreisender.webviewko.WebviewKo#kotlin.String#kotlin.Function1[kotlin.Array[kotlinx.serialization.json.JsonElement],TypeParam(bounds=[kotlin.Any])]/PointingToDeclaration//788909594">
      <div class="overview"><a href="webviewko/com.github.winterreisender.webviewko/bind-ex.html"><span>bind</span><wbr></wbr><span><span>Ex()</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="webviewko-nav-submenu-0-1" pageId="webviewko::com.github.winterreisender.webviewko/WebviewJNA///PointingToDeclaration//-879532132">
      <div class="overview"><a href="webviewko/com.github.winterreisender.webviewko/-webview-j-n-a/index.html"><span>Webview</span><wbr></wbr><span><span>JNA</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="webviewko-nav-submenu-0-2" pageId="webviewko::com.github.winterreisender.webviewko/WebviewKo///PointingToDeclaration//1481200572">
      <div class="overview"><a href="webviewko/com.github.winterreisender.webviewko/-webview-ko/index.html"><span>Webview</span><wbr></wbr><span><span>Ko</span></span></a></div>
    </div>
    <div class="sideMenuPart" id="webviewko-nav-submenu-0-3" pageId="webviewko::com.github.winterreisender.webviewko/WebviewKoAWT///PointingToDeclaration//-879532132">
      <div class="overview"><a href="webviewko/com.github.winterreisender.webviewko/-webview-ko-a-w-t/index.html"><span>Webview</span><wbr></wbr><span>Ko</span><wbr></wbr><span><span>AWT</span></span></a></div>
    </div>
  </div>
</div>

